@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deneyim Düzenleme Paneli</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>#</label>
                        <input type="text" class="form-control" asp-for="AboutID">
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label>Yaş</label>
                        <input type="number" class="form-control" asp-for="Age">
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="email" class="form-control" asp-for="Mail">
                    </div>
                    <div class="form-group">
                        <label>Adres</label>
                        <textarea class="form-control" asp-for="Address" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <input type="tel" class="form-control" asp-for="Phone">
                    </div>
                    <div class="form-group">
                        <label>Görsel Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl">
                    </div>

                    <div class="form-group">
                        <label>Açıklama</label>
                        <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

